* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}




/*  NAVIGATION BAR SECTION **************************************************************************************************************/
.navbar {
    background: #91171F;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0; 
    z-index: 999;
}

.navbar__container {
    display: flex; 
    justify-content: space-between; 
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; /* top, bottom, left, right*/
    padding: 0 50px;
}

/* Logo styling */
#navbar__logo {
    background-color: #EBA83A;
    background-image: linear-gradient(to top #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

/* Navigation bar menu */
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

/* Navigation link formatting */
.navbar__links {
    color: #F8F4F9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #F8F4F9;
    /* background: -webkit-linear-gradient(to top, #F8F4F9, #421820);
    background: linear-gradient(to top, #F8F4F9, #421820); */
    color: #421820;
    transition: all 0.3s ease;
}

/* Controls the style when you hover over the navigation bar*/
.navbar__links:hover {
    color: #EBA83A;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute; /* needed to use top in the next line */
        top: -1000px; /* to bring the menu down when you hover over the hamburger */
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    /* creates the hamburger menu when in mobile view*/
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .navbar__item {
        width: 100%
    }

    /* location of the menu links for mobile view*/
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    /* .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
        text-decoration: none;
    } */

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    /* actual hamburger menu icon */
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    /* animation when the menu button is activated >>> turns hamburger into X */
    #mobile-menu.is-active .bar:nth-child(2) { /* referring to the bottom line of the hamburger*/
        opacity: 0; 
    }

    #mobile-menu.is-active .bar:nth-child(1) { /* referring to the top line of the hamburger*/
        transform: translateY(8px) rotate(45deg); 
    }

    #mobile-menu.is-active .bar:nth-child(3) { /* referring to the top line of the hamburger*/
        transform: translateY(-8px) rotate(-45deg); 
    }
}


/*  CHECKLIST SECTION **************************************************************************************************** */

.checklist {
    background: #421820;  
    background: -webkit-linear-gradient(to bottom, #91171F, #421820);  
    background: linear-gradient(to bottom, #91171F, #421820); 
    padding: 10rem 0;
}

.checklist__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;  /* Makes it centered */
    height: 90%;
    text-align: center;
    padding: 30px;
}

.checklist img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    justify-content: center;
    opacity: 1;
}

.checklist button {
    color: #421820;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #F8F4F9;
    font-size: 2rem;
}