* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}

:root {
    /* Main Colors */
    --orange-gold: #E39102;
    --burnt-orange: #99381F;
    --red: #930102;
    --dark-blue: #004177;
    --light-blue: #4E94AB;

    /* Accent Blues */
    --navy-teal: #20576E;
    --greenish-blue: #599F90;

    /* Accent Golds */
    --orange: #EE9322;
    --gold: #E9B824;

    --white: #F8F4F9;
}


/*  NAVIGATION BAR SECTION **************************************************************************************************************/
.navbar {
    background: var(--burnt-orange);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0; 
    z-index: 999;
}

.navbar__container {
    display: flex; 
    justify-content: space-between; 
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; /* top, bottom, left, right*/
    padding: 0 15px;
}

/* Logo styling */
#navbar__logo {
    background-color: var(--orange-gold);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Navigation bar menu */
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

/* Navigation link formatting */
.navbar__links {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 0rem; */
    width: 100%;
    font-size: 0.85rem;
    font-weight: 400;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 6px 10px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--navy-teal);
    /* background: -webkit-linear-gradient(to top, #F8F4F9, #421820);
    background: linear-gradient(to top, #F8F4F9, #421820); */
    color: var(--white);
    transition: all 0.3s ease;
}

/* MEDIA RESPONSIVENESS ******************************************************************************** */
@media only screen and (min-width: 768px) {

    .navbar {
        height: 90px;
    }

    .navbar__container {
        height: 90px;
        padding: 0 30px;
    }

    #navbar__logo {
        font-size: 2.5rem;
    }

    .navbar__btn {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 1100px) {

    .navbar {
        height: 120px;
    }

    .navbar__container {
        height: 120px;
        padding: 0 50px;
    }

    #navbar__logo {
        font-size: 3.5rem;
    }

    .navbar__btn {
        font-size: 2.5rem;
    }

}


/*  PAGE SUMMARY **************************************************************************************************** */


/*  COOKOUT SECTION **************************************************************************************************** */

.cookout {
    background: var(--gold);  
    /* background: -webkit-linear-gradient(to bottom, #B81822, #421820);  
    background: linear-gradient(to bottom, #B81822, #421820);  */
    padding: 10rem 0;
}

.cookout__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;  /* Makes it centered */
    height: 90%;
    text-align: center;
    padding: 30px;
}

.cookout img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    justify-content: center;
    opacity: 1;
}


/*  HALDI SECTION **************************************************************************************************** */

.haldi {
    background: #BF9B30;  
    /* background: -webkit-linear-gradient(to bottom, #B81822, #421820);   */
    /* background: linear-gradient(to bottom, #B81822, #421820);  */
    padding: 10rem 0;
}

.haldi__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;  /* Makes it centered */
    height: 90%;
    text-align: center;
    padding: 30px;
}

.haldi img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    justify-content: center;
    opacity: 1;
}

.haldi button {
    color: #421820;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #F8F4F9;
    font-size: 2rem;
}



/*  MEHNDI/GARBA SECTION **************************************************************************************************** */
.mehndi {
    background: #BF9B30;  
    /* background: -webkit-linear-gradient(to bottom, #B81822, #421820);   */
    /* background: linear-gradient(to bottom, #B81822, #421820);  */
    padding: 10rem 0;
}

.mehndi__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;  /* Makes it centered */
    height: 90%;
    text-align: center;
    padding: 30px;
}

.mehndi img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    justify-content: center;
    opacity: 1;
}

/*  WEDDING CEREMONY SECTION **************************************************************************************************** */
.travel-tips {
    background: #421820;  
    background: -webkit-linear-gradient(to bottom, #B81822, #421820);  
    background: linear-gradient(to bottom, #B81822, #421820); 
    padding: 10rem 0;
}

.travel-tips__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;  /* Makes it centered */
    height: 90%;
    text-align: center;
    padding: 30px;
}

.travel-tips img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    justify-content: center;
    opacity: 1;
}

/*  WHITE PARTY SECTION **************************************************************************************************** */


/*  WEDDING CEREMONY SECTION **************************************************************************************************** */


/*  FOOTER SECTION **************************************************************************************************************/
.footer__container {
    max-width: 1170px;
    margin: auto;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
}

.footer__col ul{
    list-style: none;
}

.footer {
    background-color: var(--burnt-orange);
    padding: 70px 0;
}

.footer__col {
     width: 50%;
     padding: 0 15px;
}

.footer__col h4{
    font-size: 18px;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer__col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: var(--orange-gold);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer__col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer__col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--white);
    text-decoration: none;
    font-weight: 300;
    color: var(--white);
    display: block;
    transition: all 0.3s ease;
}

.footer__col ul li a:hover{
    color: var(--burnt-orange);
    padding-left: 8px;
}


.website__rights {
    background-color: var(--burnt-orange);
    color: var(--white);
    display: flex;
    justify-content: center;
    padding-top: 50px;
    /* padding-bottom: 0px; */
} 

.footer p {
    font-size: 0.4rem;
}


/* Media Responsiveness *******************************/
@media only screen and (min-width: 768px) {

    .footer__col h4{
        font-size: 2rem;
    }
    
    .footer__col ul li a{
        font-size: 1.5rem;
    }

    .footer p {
        font-size: 1rem;
    }
} 
    
@media only screen and (min-width: 1100px) {
  
    .footer__col h4{
        font-size: 2rem;
    }
    
    .footer__col ul li a{
        font-size: 1.5rem;
    }

    .footer p {
        font-size: 1rem;
    }
    
} 