* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tenor Sans', sans-serif;
    scroll-behavior: smooth;
}

:root {
    /* Main Colors */
    --orange-tan: #FAE8C4;
    --pink-tan: #DED5C1;
    --green: #91A17A;
    --dark-green: #616E54;
    --pink-brown: #B7967A;

    /* Accent Blues */
    --navy-teal: #20576E;
    --greenish-blue: #599F90;

    --pastel-green: #90A27A;
    --peacock-blue: #306883;

    /* Accent Golds */
    --orange: #EE9322;
    --gold: #E9B824;

    --white: #F8F4F9;
}


/*  NAVIGATION BAR SECTION **************************************************************************************************************/
.navbar {
    background: var(--dark-green);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0; 
    z-index: 999;
}

.navbar__container {
    display: flex; 
    justify-content: space-between; 
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; /* top, bottom, left, right*/
    padding: 0 15px;
}

/* Logo styling */
#navbar__logo {
    background-color: var(--orange-tan);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Navigation bar menu */
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

/* Navigation link formatting */
.navbar__links {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 0rem; */
    width: 100%;
    font-size: 0.85rem;
    font-weight: 400;
    
}

.navbar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 6px 10px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--peacock-blue);
    /* background: -webkit-linear-gradient(to top, #F8F4F9, #421820);
    background: linear-gradient(to top, #F8F4F9, #421820); */
    color: var(--white);
    transition: all 0.3s ease;
}

/* MEDIA RESPONSIVENESS ******************************************************************************** */
@media only screen and (min-width: 768px) {

    .navbar {
        height: 90px;
    }

    .navbar__container {
        height: 90px;
        padding: 0 30px;
    }

    #navbar__logo {
        font-size: 2.5rem;
    }

    .navbar__btn {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 1100px) {

    .navbar {
        height: 120px;
    }

    .navbar__container {
        height: 120px;
        padding: 0 50px;
    }

    #navbar__logo {
        font-size: 3.5rem;
    }

    .navbar__btn {
        font-size: 2.5rem;
    }

}


/* GENERAL ******************************************************************************/

h1 {
    font-size: 35px;
    color: var(--white);
    text-align: left;
}

h2 {
    font-size: 25px;
    color: var(--white);
    margin-bottom: 20px;
    /* margin-left: 5px; */
    text-align: left;
}

h3 {
    font-size: 20px;
    /* margin-left: 5px; */
    text-align: left;
}

p {
    font-size: 15px;
    /* margin-left: 5px; */
    margin-bottom: 15px;
    text-align: justify;
    width: 100%;
}

/* .event__btn {
    display: block;
    color: var(--white); /*text color 
    background-color: var(--navy-teal);
    text-decoration: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    font-size: 1.2rem;
    border-radius: 4px;
    margin: 20px auto;
 
} */

.pinterest-widget {
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 80px;
    }
    
    h2 {
        font-size: 45px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    
    h3 {
        font-size: 25px;
        margin-left: 10px;
    }
    
    p {
        font-size: 25px;
        margin-left: 10px;
        margin-bottom: 15px;
    }
} 

@media only screen and (min-width: 1100px) {
    h1 {
        font-size: 80px;
    }
    
    h2 {
        font-size: 45px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    
    h3 {
        font-size: 25px;
        margin-left: 10px;
    }
    
    p {
        font-size: 25px;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .pinterest-widget {
        max-width: 100%;
    }
} 

/*  PAGE SUMMARY **************************************************************************************************** */
.hero {
    background-image: url(images/archive\ background.png);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-color: rgba(255, 255, 255, 0.1);
    /* background-blend-mode: lighten; */
    padding: 20px 0;

}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 90%;
    margin: auto;  
    text-align: left;
    padding: 10px;

}



/* Media Responsiveness *******************************/
@media only screen and (min-width: 768px) {

    .hero__container {
        padding: 30px;
        width: 65%;
 
    }

    .hero h1 {
        color: var(--dark-green);
        text-align: center;
        font-size: 3.25rem;
    }

    .hero h2 {
        color: var(--pink-brown);
        text-align: center;
        font-size: 1.25rem;
    }
    
    .hero p {
        font-size: 1.25rem;
    }


} 

@media only screen and (min-width: 1100px) {
    .hero__container {
        padding: 30px;
        width: 70%;
 
    }

    .hero h1 {
        color: var(--white);
        text-align: center;
        font-size: 2rem;
    }

    .hero h2 {
        color: var(--white);
        text-align: center;
        font-size: 1rem;
    }



} 

/*  COOKOUT SECTION **************************************************************************************************** */




/* Media Responsiveness *******************************/




/*  FOOTER SECTION **************************************************************************************************************/
.footer__container {
    max-width: 1170px;
    margin: auto;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
}

.footer__col ul{
    list-style: none;
}

.footer {
    background-color: var(--dark-green);
    padding: 70px 0;
}

.footer__col {
     width: 50%;
     padding: 0 15px;
}

.footer__col h4{
    font-size: 18px;
    color: var(--orange-tan);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer__col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: var(--pink-brown);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer__col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer__col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--orange-tan);
    text-decoration: none;
    font-weight: 300;
    color: var(--orange-tan);
    display: block;
    transition: all 0.3s ease;
}

.footer__col ul li a:hover{
    color: var(--green);
    padding-left: 8px;
}


.website__rights {
    background-color: var(--dark-green);
    color: var(--orange-tan);
    display: flex;
    justify-content: center;
    padding-top: 50px;
    /* padding-bottom: 0px; */
} 

.footer p {
    font-size: 0.4rem;
}


/* Media Responsiveness *******************************/
@media only screen and (min-width: 768px) {

    .footer__col h4{
        font-size: 2rem;
    }
    
    .footer__col ul li a{
        font-size: 1.5rem;
    }

    .footer p {
        font-size: 1rem;
    }
} 
    
@media only screen and (min-width: 1100px) {
  
    .footer__col h4{
        font-size: 2rem;
    }
    
    .footer__col ul li a{
        font-size: 1.5rem;
    }

    .footer p {
        font-size: 1rem;
    }