* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}




/*  NAVIGATION BAR SECTION **************************************************************************************************************/
.navbar {
    background: #B81822;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0; 
    z-index: 999;
}

.navbar__container {
    display: flex; 
    justify-content: space-between; 
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; /* top, bottom, left, right*/
    padding: 0 50px;
}

/* Logo styling */
#navbar__logo {
    background-color: #EBA83A;
    background-image: linear-gradient(to top #B81822 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

/* Navigation bar menu */
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

/* Navigation link formatting */
.navbar__links {
    color: #F8F4F9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #F8F4F9;
    /* background: -webkit-linear-gradient(to top, #F8F4F9, #421820);
    background: linear-gradient(to top, #F8F4F9, #421820); */
    color: #421820;
    transition: all 0.3s ease;
}


/*  HEADER SECTION ********************************************************************* */
.video-container {
    height: 1000px;
    width: 100%;
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
    z-index: 1;
    position: relative;
    text-align: center;
    color: #dc0000;
    padding: 10px;
  }


/*  DOCUMENTS SECTION **************************************************************************************************** */

.documents {
    background: #421820;  
    background: -webkit-linear-gradient(to bottom, #B81822, #421820);  
    background: linear-gradient(to bottom, #B81822, #421820); 
    padding: 10rem 0;
}

.documents__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;  /* Makes it centered */
    height: 90%;
    text-align: center;
    padding: 30px;
}

.documents img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    justify-content: center;
    opacity: 1;
}

.documents button {
    color: #421820;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #F8F4F9;
    font-size: 2rem;
}

/*  SUGGESTED ROUTE SECTION **************************************************************************************************** */





/*  POTENTIAL ITINERARY SECTION **************************************************************************************************** */
.travel-itinerary {
    background: #421820;  
    background: -webkit-linear-gradient(to bottom, #B81822, #421820);  
    background: linear-gradient(to bottom, #B81822, #421820); 
    padding: 10rem 0;
}

.travel-itinerary__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;  /* Makes it centered */
    height: 90%;
    text-align: center;
    padding: 30px;
}

.travel-itinerary img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    justify-content: center;
    opacity: 1;
}

.travel-itinerary button {
    color: #421820;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #F8F4F9;
    font-size: 2rem;
}

/*  TIPS SECTION **************************************************************************************************** */
.travel-tips {
    background: #421820;  
    background: -webkit-linear-gradient(to bottom, #B81822, #421820);  
    background: linear-gradient(to bottom, #B81822, #421820); 
    padding: 10rem 0;
}

.travel-tips__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;  /* Makes it centered */
    height: 90%;
    text-align: center;
    padding: 30px;
}

.travel-tips img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    justify-content: center;
    opacity: 1;
}

/*  UPON ARRIVAL SECTION **************************************************************************************************** */



